<h1>Welcome to R/Place</h1>


<div id="sidenav">
    <h1 style="color: white;">Colors</h1>
    <br>
    <a class="e4e4e4" id="colorOption"></a>
    <br>
    <a class="888888" id="colorOption"></a>
    <br>
    <a class="222222" id="colorOption"></a>
    <br>
    <a class="E50000" id="colorOption"></a>
    <br>
    <a class="FFA7D1" id="colorOption"></a>
    <br>
    <a class="A06A42" id="colorOption"></a>
    <br>
    <a class="E5D900" id="colorOption"></a>

</div>



<div class="notify"><span id="notifyType" class=""></span></div>




<canvas id="placeCanvas" width="500" height="500" style="border:1px solid #000000;"></canvas>

<div id="timer" style="margin-left: 700px;">
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
    integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>


<script>


    var socket = io();
    var canvas = document.getElementById('placeCanvas');
    var ctx = canvas.getContext('2d');


    var width = 10;
    var height = 10;
    var currentColor = "#000000";
    var size = 50;

    //draw a grid where each square's color can be changed
    var grid = [];
    for (var i = 0; i < size; i++) {
        grid[i] = [];
        for (var j = 0; j < size; j++) {
            grid[i][j] = '#fff';
        }
    }

    //draw the grid
    function drawGrid(grid) {
        for (var i = 0; i < size; i++) {
            for (var j = 0; j < size; j++) {
                ctx.fillStyle = grid[i][j];
                ctx.fillRect(i * width, j * height, width, height);
            }
        }
    }

    var timeLeft = 30;
    var elem = document.getElementById('timer');

    var timerId = setInterval(countdown, 1000);

    function countdown() {
        if (timeLeft == -1) {
            clearTimeout(timerId);

        } else {
            elem.innerHTML = timeLeft + ' seconds remaining';
            timeLeft--;
        }
    }


    //if one sqaaure in the grid is clicked, change its color
    canvas.addEventListener('click', function (e) {
        socket.emit('checkPlacementAllowance', timeLeft);
    });

    socket.emit('gridStatus', grid);


    socket.on('newGrid', function (newGrid) {
        console.log("recived new grid");
        grid = newGrid;
        drawGrid(newGrid);
    });

    socket.on('allowPlacement', function (x) {
        if (x == true) {
            console.log("allow placement");
            canvas.addEventListener('click', function (e) {
                var x = Math.floor(e.offsetX / width);
                var y = Math.floor(e.offsetY / height);
                grid[x][y] = currentColor;
                ctx.fillStyle = currentColor;
                ctx.fillRect(x * width, y * height, width, height);
                socket.emit('gridStatus', grid);
            });
        }
        else {
            console.log("disallow placement");
            canvas.removeEventListener('click', function (e) {
                $(".notify").toggleClass("active");
                $("#notifyType").toggleClass("success");

                setTimeout(function () {
                    $(".notify").removeClass("active");
                    $("#notifyType").removeClass("success");
                }, 2000);
            });
        }
    });

    $('#sidenav').find('a').each(function () {
        var innerDivId = $(this).attr('class');
        $(this).attr('style', 'background: #' + innerDivId + ';');
        $(this).bind('click', function () {
            currentColor = '#' + innerDivId;
            $(".notify").toggleClass("active");
            $("#notifyType").toggleClass("success");

            setTimeout(function () {
                $(".notify").removeClass("active");
                $("#notifyType").removeClass("success");
            }, 2000);
        });

    });



</script>

<style>
    h1 {
        text-align: center;
    }

    canvas {
        /* center the canvas horizaontally*/
        margin: 0 auto;
        display: block;

        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }

    #sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    #sidenav a {
        margin-left: 50px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    #sidenav a:hover {
        color: #f1f1f1;
    }

    #success {
        background: #03a679;
        color: #f0f0f0;
    }



    .notify {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 0;
        box-sizing: border-box;
        color: white;
        text-align: center;
        background: rgba(0, 0, 0, .6);
        overflow: hidden;
        box-sizing: border-box;
        transition: height .2s;
    }

    #notifyType:before {
        display: block;
        margin-top: 15px;

    }

    .active {
        height: 50px;
    }

    .success:before {
        Content: "Color Picked! Draw something!";
    }

    .color {
        background: #f00;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    #colorOption {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>