<h1>Welcome to R/Place</h1>
<h4>Made with ❤️ by Joseph. Enjoy!</h4>
<h4>Intrested in contributing? Message me on <a href="https://s.reddit.com/c/196ng567f8yy3">Reddit</a></h4>
<body>

    <meta name="viewport" content="initial-scale=0.01, maximun-scale=1.0, user-scalable=no" />

    <div id="sidenav">
        <h1 style="color: white;">Colors</h1>
        <br>
        <a class="fff" id="colorOption"></a>
        <br>
        <a class="e4e4e4" id="colorOption"></a>
        <br>
        <a class="888888" id="colorOption"></a>
        <br>
        <a class="222222" id="colorOption"></a>
        <br>
        <a class="E50000" id="colorOption"></a>
        <br>
        <a class="FFA7D1" id="colorOption"></a>
        <br>
        <a class="A06A42" id="colorOption"></a>
        <br>
        <a class="E5D900" id="colorOption"></a>
        <br>
        <a class="000" id="colorOption"></a>
        <br>
        <a class="6d001a" id="colorOption"></a>
        <br>
        <a class="ffd635" id="colorOption"></a>
        <br>
        <a class="ffa800" id="colorOption"></a>
        <br>
        <a class="ff4500" id="colorOption"></a>
        <br>
        <a class="00a368" id="colorOption"></a>
        <br>
        <a class="00cc78" id="colorOption"></a>
        <br>
        <a class="7eed56" id="colorOption"></a>
        <br>
        <a class="00756f" id="colorOption"></a>
    </div>



    <div class="notify"><span id="notifyType" class=""></span></div>


    <canvas id="placeCanvas" width="1000" height="1000" style="border:1px solid #000000;"></canvas>

    <div id="timer" style="margin-left: 700px;">
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"
    integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>



<script src="./templates/js/place.js"></script>
<!-- import css file -->
<link rel="stylesheet" href="./templates/styles/place.css">




<script async src="https://www.googletagmanager.com/gtag/js?id=G-9FERXCEPE9"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-9FERXCEPE9');
</script>